{% extends 'calc_base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/ratio.css' %}">
    {% endblock style %}

{% block calc_body %}




      
      <div class="card-body">
        
        
        <br>
        <table cellspacing="0" cellpadding="0">
             
        <tr>
            <td width="50%"><span class="field_text"><b>Accumulated Depreciation:</b></span></td>
            <td><input name="ctl00$MainContent$txtDepreciation" type="number" value="12" id="ctl00_MainContent_txtDepreciation" class="input-custom" onkeyup="calculate()" /></td>
        </tr>          
        <tr>
            <td><span class="field_text"><b>Total Fixed Assets:</b></span></td>
            <td><input name="ctl00$MainContent$txtTotalFixedAssets" type="number" value="6" id="ctl00_MainContent_txtTotalFixedAssets" class="input-custom" onkeyup="calculate()" /></td>
        </tr>        
       </table>
    <br>
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td width="70%"><span class="field_text"><b>Accumulated Depreciation Ratio:</b></span></td>
                <td><span id="lblAccumulatedRatio" class="result_data" style="color: teal; font: 27px Verdana;font-weight:bold;">200%</span></td>
            </tr>
        </table>
        <br />
          
          
        
        </div>
        
    {% endblock calc_body %}

    {% block calc_result %}
    
<div class="card mb-4" id="accelement">
    <div class="card-header primary-bg primary-text px-3 py-1">
        <h1 class="h1">Steps To Calculate Accumulated Depreciation Ratio Calculator</h1>
    </div>
    <div class="card-body container">
        <div style="margin-left: 21px;margin-top: 22px;">
          <h1><b style="color: teal;">Accumulated Depreciation Ratio: <span id="result">200.00%</span></b></h1><br>
        <strong><b><p>Accumulated Depreciation Ratio Formula:</b></strong>
        <p style="color: #CD5C5C;"><b>Accumulated Depreciation Ratio = Accumulated Depreciation / Total Fixed Assets</b></p>
        
        
      
      <p><b>Input Values are:</b><br></p>
        <p>Accumulated Depreciation =  <span id="ad">12</span></p>
        <p>Total Fixed Assets = <span id="fa">6</span></p>
        
        <p>
          <b>Put values into formula</b> <br></p>
          <p>Accumulated Depreciation Ratio = Accumulated Depreciation / Total Fixed Assets</p>
          <p>Accumulated Depreciation Ratio = <span id="ad1">12</span>/<span id="fa1">6</span></p>
          <p>Accumulated Depreciation Ratio is displayed in percentages(%) form</p>
          <p>Accumulated Depreciation Ratio = <span id="ad2">12</span>/<span id="fa2">6</span>*100</p>
          <p>Accumulated Depreciation Ratio = <span id="res">200.00%</span></p>
      </div>
  </div>
     <!-- card-body -->
</div> <!-- card -->

{% endblock calc_result %}




{% block script %}
<script src="/static/js/accumulated-depreciation-calculator.js"></script>
{% endblock script %}